<link rel="stylesheet" href="/css/support.css">
	
<div class="wrap">
    <div class="question-form">               
        <div class="content-title" style="margin-top: 50px; font-size: 50px;">
            Наши контакты
        </div>
        
        <a href="mailto:qrfit.info@gmail.com">
            <div class="content-title-under mail">    
                <div class="icon-name">Наша Почта</div>                
            </div>
        </a>
        
        <a href="https://wa.me/77752277747">
            <div class="content-title-under whatsapp">
                <div class="icon-name">Наш Whatsapp</div>                
            </div>  
        </a>
                        
    </div>
</div>