.question-form{
    width: 70%;
}

.content-title-under{
    font-family: Montserrat Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 40px;
    color: #570499;
    margin-top: 20px;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin-right: 40px;
    position: relative;
    text-align: center;
}

.content-title-under.whatsapp{
    background-image: url("/img/whatsapp.png");
    background-size: cover;
}

.content-title-under.mail{
    background-image: url("/img/gmail.png");
    background-size: cover;
}

.icon-name {
    position: absolute;
    bottom: -50px;
    font-size: 17px;
    line-height: 20px;
}

.question-button, .question-button:focus{
    width: 35%;
    margin: auto;
    padding: 10px;
    color: white;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 20%);
    font-family: Montserrat Regular;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 40px;
    border: none;
    border-radius: 25px;
    outline: none;
}

.send{
    background: #570499;
}

.call{
    background: #C95C4D;
    margin-left: 10%;
}

.question, .question:focus{
    width: 80%;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 20%);
    border: none;
    resize: none;
    border-radius: 25px;
    padding: 20px;
    margin: 60px;
    margin-left: 0px;
    margin-bottom: 20px;
    color: #B7B7B7;
    outline: none;
    font-size: 20px;
}